* {
    background: transparent;
    /*margin: 0;*/
    border: 0;
    padding: 0;
    vertical-align: baseline;
}
body {
    font: 14px Helvetica,"Hiragino Sans GB","Hiragino Sans GB W3",Arial,sans-serif,"微软雅黑";
    background-color: #F1F1F1;
    background-image: url(/static/bg.png);
    background-attachment: fixed;
}

a{ color: #0645ad; text-decoration:none;}
a:visited{ color: #0b0080; }
a:hover{ color: #06e; }
a:active{ color:#faa700; }
a:focus{ outline: thin dotted; }
a:hover, a:active{ outline: 0; }

header{width:1000px;height:120px;font-size:12px;text-align:left;border-bottom:2px solid gray;}
.headl{float:left;margin-top: 55px; margin-left: 50px}
.headr{float:right;margin-top:55px}
.nav{margin-bottom:15px;float:right;display:inline;height:44px;width:500px;padding:0;}
.nav ul{list-style:none;list-style-position:outside;position:absolute;}
.nav ul li{float:left;font-family:Open sans, sans-serif;font-size:20px;font-weight:500;padding:0 5px;}
.nav ul li:first-child{padding-left:0;}
.nav ul li a{color:#4a4a4a;display:block;height:40px;line-height:40px;border:2px solid transparent;padding:0 7px;}
.nav ul li.active a,.nav ul li a:hover{border:2px solid #029cdb;background:url(/static/nav-btn.png) repeat-x 0 0;color:#fff;text-decoration:none;}
.page{width:1000px;margin:0 auto;}
.content{float:left;width:970px;margin:0;padding:10px;}
#site-title {
    margin: 0px;
    /*padding: 10px 0px;*/
}

#content {
    margin: 2em auto;
    max-width: 960px;
}

#site-title a {
    color: rgb(192,192,192);
    font-size: 55px;
    font-weight: bold;
    line-height: 55px;
    text-decoration: none;
    -webkit-transition: color 400ms;
    font-family: "Trade Winds", "Abel", "Helvetica Neue", Helvetica, Arial, Sans-serif;
}
#site-title a:hover {
    color:#5191C2;
}
#site-description {
    margin: 0px 0px 15px;
    font-size: 14px;
    text-align: right;
    font-weight: normal;
    color: rgb(192,192,192);
}
.site-nav {
    margin: 0px 0px 15px;
    font-size: 14px;
    text-align: right;
    font-weight: normal;
}
.site-nav a{
    color: rgb(100,100,100);
}
.site-nav a:hover{
    color:#5191C2;
}
#main {
    margin-left: 220px;

}
#primary {
    float: left;
    width: 100%;
    padding-top: 20px;
}
article {
    background: white;
    -webkit-border-radius: 3px;
    margin: 0 0 1.625em;
    padding: 0 0 1.625em;
    box-shadow:0 0 10px rgba(200,200,200,0.8);
    
}
.entry-header {
    padding: 1.625em 7.6% 0px;
}
.entry-title, .entry-title a {
    color: #222;
    text-decoration: none;
    font-size: 25px;
    line-height: 1.5em;
    -webkit-transition: color 400ms;
}
.entry-title a:hover {

    color:#5191C2;
}
#show-source{
        float:right;
        padding: 20px 5px 0;
        color:#080;
        font-size: small;
}
/*a#show-source-a:visited {
    color: red;
}*/
a#show-source-a:hover{ color: #5191C2;}
a#show-source-a:visited{ color: #0b0080; }
a#show-source-a {
    font-size: small;
    color: #777777;
}
.entry-meta {
    color: #666;
    font-size: 12px;
    line-height: 18px;
    padding-right: 76px;
}
.entry-title, .dashbottom {
    padding-bottom: 10px;
    border-bottom: 1px dashed #ccc;
}

time {
    font-weight: bold;
}
.entry-content {
    padding: 1em 7.6% 5px;
    border-style: solid;
    border-color: #EEE;
    border-width: 0px 0px 1px;
}
#nav-below {
    margin-bottom: 1.625em;
    clear: both;
    overflow: hidden;
    padding: 0.6em 7.6%;
}
.nav-previous {
    float: left;
    width: 50%;
}
.nav-next {
    float: right;
    text-align: right;
    width: 50%;
}
#nav-below a {
    color:#5191C2;
    font-size: 12px;
    font-weight: bold;
    line-height: 2.2em;
}
footer {
    /*margin-left: 220px;*/
    clear: both;
}
.div-footer {
    border-top: 1px solid #DDD;
    color: #666;
    font-size: 12px;
    line-height: 2.2em;
    padding: 2.2em 0.5em;
    text-align: center;
}
article p {
    /*margin: 0 0 24px 0;*/
    line-height: 1.5em;
}

article h1 {
    font-size: 1.8em;
}
article h2 {
    font-size: 1.6em;
}
article h3 {
    font-size: 1.4em;
}
article h4 {
    font-size: 1.2em;
}
article h5 {
    font-size: 1.0em;
}
article h6 {
    font-size: 1.0em;
}
article blockquote {
    margin: 10px 0;
    padding: 5px 0 5px 40px;
    border-left: 5px #7d7d7d solid;
}
article ul, .article ol {
    margin: 10px 0 10px 20px;
}
article li {
    margin-bottom: 5px;
}
article img {
    text-align: center;
    display: block;
    margin: 0 auto;

    max-width: 570px;
}

article pre {
    font-family: 'Consolas', 'DejaVu Sans Mono',
                 'Bitstream Vera Sans Mono', monospace;
    font-size: 13px;
    letter-spacing: 0.015em;
    line-height: 120%;
    padding: 0.5em;
    border: 1px solid #ccc;
    border-radius: 2px;
    overflow-x: auto;
    word-wrap: break-word; /* Internet Explorer 5.5+ */;
    background-color: #f8f8f8;
    white-space: pre-wrap; /* Firefox */;
}
article code {
    font-size: 14px;
    font-family: 'Monaco', 'monospace';
    text-shadow: none;
    padding: 0 3px 0 3px;
    border: 1px solid #CCC; 
    background: #F8F8F8;
}
article pre code { 
    border: 0px !important;
    padding: 0;
    background: rgb(50,50,50);
    color: white;
}