
<!DOCTYPE html>
<head>
  <meta http-equiv = "content-type" content="text/html; charset=utf-8">
  <title>{{ title }} - {{ article["title"] }}</title>
  <link rel = "Shortcut Icon"  href="/static/favicon.ico">
  <link rel="stylesheet" href="{{ url_for('static', filename='style_single_article.css') }}" type="text/css" media="screen">
  <link rel="stylesheet" href="{{ url_for('static', filename='style_code.css') }}" type="text/css" media="screen">
  <!-- <link href='http://fonts.googleapis.com/css?family=Trade+Winds' rel='stylesheet' type='text/css'> -->
  <link rel="alternate" type="application/rss+xml" title="RSS" href="/rss.xml" />
</head>

<body>
<div class="page">

  <header>
    <div class="headl">     
      <hgroup>
        <h1 id="site-title">
          <a href="http://wangfu.info/resume.html" title="Wang Fu">{{ title }}</a>
        </h1>
      </hgroup>
    </div>

    <div class="headr">  
      <!-- nav start -->
      <nav class="nav">
        <ul>
          <li class="current active"><a href="{{ url }}">Home</a></li>
          <li><a href="https://plus.google.com/u/0/115115080954335173970">Google+</a></li>
          <li><a href="https://github.com/Codeupwf">GitHub</a></li>
          <li><a href="https://twitter.com/codeup_wf">Twitter</a></li>
          <!-- <li><a href="#">Contact</a></li> -->
        </ul>
      </nav>
       <!-- nav end -->
     </div>
  </header>

   <!-- content start -->
  <div class="content">
    <!-- article start -->
    <article>
      <div class="entry-header">
        <h1 class="entry-title dasbottom">
          <a href="/article/{{ article["name"] }}">{{ article["title"] }}</a>
          <div id="show-source"><a id="show-source-a" href="/posts/{{ article["name"] }}.txt" target="_blank">显示文章源码</a></div>
        </h1>
        <div class="entry-meta">
          <span class="sep">Posted on <time class="entry-date">{{ article["date"] }}</time></a></span>
        </div>
      </div>
          
      <div class="entry-content">
        {{ (article["content"]) }}
      </div>
    </article>
    <!-- article end -->

    <!-- comment start -->
    <div class="comments">
      {% if article["isCommentsAble"] == True %}
      <!-- 多说评论框 start -->
      <div class="ds-thread" data-thread-key={{ article["name"] }} data-title={{ article["title"] }} data-url="{{ url }}/article/{{ article["name"] }}"></div>
      <!-- 多说评论框 end -->
      <!-- 多说公共JS代码 start (一个网页只需插入一次) -->
      <script type="text/javascript">
        var duoshuoQuery = {short_name:"wangfu"};
          (function() {
            var ds = document.createElement('script');
            ds.type = 'text/javascript';ds.async = true;
            ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
            ds.charset = 'UTF-8';
            (document.getElementsByTagName('head')[0] 
              || document.getElementsByTagName('body')[0]).appendChild(ds);
          })();
      </script>
      <!-- 多说公共JS代码 end -->
      {% else %}
      <div class ="div-footer">
        本篇文章禁止评论
      </div>
      {% endif %}
    </div>
    <!-- comment end -->

    <!-- footer start -->
    <footer>
      <div class="div-footer">Powered by <a href="https://github.com/Codeupwf">Codeup</a>
      </div>
    </footer>

 <!-- footer end -->
  </div>
  <!-- content end -->
</div>

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-22789680-4']);
  _gaq.push(['_setDomainName', 'wangfu.info']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s  = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
    
</body>
</html>
